<section id="footer" class="py-5">
  <div class="container w-75">
    <div class="row text-center">
      <div class="col-lg-4">
        <h4 class="text-uppercase text-white mb-3">Location</h4>
        <P class="lead text-white mb-0">
          2215 John Daniel Drive
          </P>
          <span class="lead text-white mt-0">Clark, MO 65243 </span>
      </div>
      <div class="col-lg-4">
        <h4 class="text-uppercase text-white mb-3">Around the Web</h4>
        <div class="border border-3 border-white rounded-circle mx-2 py-2 px-2 d-inline-block icon-socail">
          <i class="fa-brands fa-facebook-f fa-1x fa-fw text-white mt-2"></i>

        </div>
        <div class="border border-3 border-white rounded-circle mx-2   py-2 px-2 d-inline-block icon-socail">
          <i class="fa-brands fa-twitter  fa-1x fa-fw text-white mt-2"></i>

        </div>
        <div class="border border-3 border-white rounded-circle mx-2   py-2 px-2 d-inline-block icon-socail">
          <i class="fa-brands fa-linkedin-in fa-1x fa-fw text-white mt-2"></i>

        </div>
        <div class="border border-3 border-white rounded-circle mx-3   py-2 px-2 d-inline-block icon-socail">
          <i class="fa-brands fa-dribbble fa-1x fa-fw text-white mt-2"></i>

        </div>
      </div>
      <div class="col-lg-4">
        <h4 class="text-uppercase text-white mb-3">About Freelancer</h4>
        <p class="lead text-white w-75 mx-auto">
          Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
      </div>
    </div>

  </div>

</section>
