<section id="about" class="py-5">
  <div class="container text-center w-50 py-5">

    <h2 class="text-uppercase text-white font-size-h2 mb-3">About</h2>
    <div class="d-flex justify-content-center mb-4">
      <div class="line mt-2 me-3"></div>
      <div><i class="fa-sharp fa-solid fa-star fa-2xl text-white"></i></div>
      <div class="line mt-2 ms-3"></div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p class="lead text-white  fs-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-lg-6">
        <p class="lead text-white fs-5">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
      </div>
    </div>

  </div>

</section>
