
<section id="contact" class="mx-auto py-5">

  <div class="container w-75 py-5">
    <h2 class="title-contact-h2 text-uppercase text-center mb-4">Contact Me</h2>
    <div class="d-flex justify-content-center mb-4">
      <div class="line mt-2 me-3"></div>
      <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
      <div class="line mt-2 ms-3"></div>
    </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <form>
      <div class="form-floating mb-3  pb-2">
        <input type="text" class="form-control shadow-none border-input" id="floatingInput" placeholder="Name">
        <label for="floatingInput" class="label-font">Name</label>
      </div>

      <div class="form-floating mb-3 pb-2">
        <input type="email" class="form-control shadow-none border-input" id="floatingInput" placeholder="Email Address">
        <label for="floatingInput" class="label-font">Email Address</label>
      </div>

      <div class="form-floating mb-3 pb-2">
        <input type="tel" class="form-control shadow-none border-input" id="floatingInput" placeholder="Phone Number">
        <label for="floatingInput" class="label-font">Phone Number</label>
      </div>

      <div class="form-group floating-label-form-group mb-5">
        <textarea class="form-control border-input shadow-none" rows="5" placeholder="Message" id="floatingTextarea"></textarea>

      </div>



<button class="btn btn-send ">Send</button>

      </form>

    </div>
  </div>
  </div>

</section>
