
<section id="portfolio" class="py-5">
  <div class="container w-75 py-5">
    <h2 class="text-uppercase  title-portfolio text-center ">Portfolio</h2>
    <div class="d-flex justify-content-center mb-4">
      <div class="line mt-2 me-3"></div>
      <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
      <div class="line mt-2 ms-3"></div>
    </div>

    <div class="row g-5 pb-5" >
      <div  class="col-lg-4 col-md-6 img-portfolio position-relative overflow-hidden  " data-bs-toggle="modal" data-bs-target="model_1">
        <div class="layer-portfolio h-100 rounded-2 text-center d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus fa-5x text-white fw-bolder "></i>
        </div>
        <img src="assets/imgs/cabin.png"   class="img-fluid rounded-2">
      </div>
      <div class="col-lg-4 col-md-6 img-portfolio position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#model_2">
        <div class="layer-portfolio h-100 rounded-2 text-center d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus fa-5x text-white fw-bolder "></i>
        </div>
        <img src="assets/imgs/cake.png" class="img-fluid rounded-2 ">
      </div>
      <div class="col-lg-4 col-md-6 img-portfolio position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#model_3">
        <div class="layer-portfolio h-100 rounded-2 text-center d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus fa-5x text-white fw-bolder "></i>
        </div>
        <img src="assets/imgs/circus.png" class="img-fluid rounded-2 ">
      </div>
      <div class="col-lg-4 col-md-6 img-portfolio position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#model_4">
        <div class="layer-portfolio h-100 rounded-2 text-center d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus fa-5x text-white fw-bolder "></i>
        </div>
        <img src="assets/imgs/game.png" class="img-fluid rounded-2 ">
      </div>
      <div class="col-lg-4 col-md-6 img-portfolio position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#model_5">
        <div class="layer-portfolio h-100 rounded-2 text-center d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus fa-5x text-white fw-bolder "></i>
        </div>
        <img src="assets/imgs/safe.png" class="img-fluid rounded-2 ">
      </div>
      <div class="col-lg-4 col-md-6 img-portfolio position-relative overflow-hidden" data-bs-toggle="modal" data-bs-target="#model_6">
        <div class="layer-portfolio h-100 rounded-2 text-center d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-plus fa-5x text-white fw-bolder "></i>
        </div>
        <img src="assets/imgs/submarine.png" class="img-fluid rounded-2 ">
      </div>
    </div>

  </div>

</section>


<!-- bootstrap -->
<!-- Button trigger modal -->


<!-- Modal 1 -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="model_1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-title">
        <!-- <h1 class="modal-title fs-5 " id="exampleModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-column">


        <h2 class="title-portfolio text-uppercase text-center">Log Cabin</h2>
            <div class="d-flex justify-content-center mb-4">
              <div class="line mt-2 me-3"></div>
              <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
              <div class="line mt-2 ms-3"></div>
            </div>
            <img src="assets/imgs/cabin.png"   class="img-fluid rounded-2 w-75 mx-auto mb-3">

            <p class="w-75 mx-auto lead text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>
      <div class="modal-footer border-top-title mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade " id="model_2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-title">
        <!-- <h1 class="modal-title fs-5 " id="exampleModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-column">


        <h2 class="title-portfolio text-uppercase text-center">TASTY CAKE</h2>
            <div class="d-flex justify-content-center mb-4">
              <div class="line mt-2 me-3"></div>
              <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
              <div class="line mt-2 ms-3"></div>
            </div>
            <img src="assets/imgs/cake.png"   class="img-fluid rounded-2 w-75 mx-auto mb-3">

            <p class="w-75 mx-auto lead text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>
      <div class="modal-footer border-top-title mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!--Modal 3-->
<div class="modal fade " id="model_3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-title">
        <!-- <h1 class="modal-title fs-5 " id="exampleModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-column">


        <h2 class="title-portfolio text-uppercase text-center">CIRCUS TENT</h2>
            <div class="d-flex justify-content-center mb-4">
              <div class="line mt-2 me-3"></div>
              <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
              <div class="line mt-2 ms-3"></div>
            </div>
            <img src="assets/imgs/circus.png"  class="img-fluid rounded-2 w-75 mx-auto mb-3">

            <p class="w-75 mx-auto lead text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>
      <div class="modal-footer border-top-title mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!--Model 4-->
<div class="modal fade " id="model_4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-title">
        <!-- <h1 class="modal-title fs-5 " id="exampleModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-column">


        <h2 class="title-portfolio text-uppercase text-center">CONTROLLER</h2>
            <div class="d-flex justify-content-center mb-4">
              <div class="line mt-2 me-3"></div>
              <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
              <div class="line mt-2 ms-3"></div>
            </div>
            <img src="assets/imgs/game.png"  class="img-fluid rounded-2 w-75 mx-auto mb-3">

            <p class="w-75 mx-auto lead text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>
      <div class="modal-footer border-top-title mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!--Model 5-->
<div class="modal fade " id="model_5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-title">
        <!-- <h1 class="modal-title fs-5 " id="exampleModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-column">


        <h2 class="title-portfolio text-uppercase text-center">LOCKED SAFE</h2>
            <div class="d-flex justify-content-center mb-4">
              <div class="line mt-2 me-3"></div>
              <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
              <div class="line mt-2 ms-3"></div>
            </div>
            <img src="assets/imgs/safe.png"  class="img-fluid rounded-2 w-75 mx-auto mb-3">

            <p class="w-75 mx-auto lead text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>
      <div class="modal-footer border-top-title mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!--Model 6-->

<div class="modal fade " id="model_6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-title">
        <!-- <h1 class="modal-title fs-5 " id="exampleModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-column">


        <h2 class="title-portfolio text-uppercase text-center">SUBMARINE</h2>
            <div class="d-flex justify-content-center mb-4">
              <div class="line mt-2 me-3"></div>
              <div><i class="fa-sharp fa-solid fa-star fa-2xl icon-color"></i></div>
              <div class="line mt-2 ms-3"></div>
            </div>
            <img src="assets/imgs/submarine.png"  class="img-fluid rounded-2 w-75 mx-auto mb-3">

            <p class="w-75 mx-auto lead text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>
      <div class="modal-footer border-top-title mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
