<section id="home" class="text-center h-100 pb-5">
  <div class="container ">
    <img src="assets/imgs/avataaars.svg" class="img-fluid  mb-4">
    <h1 class="text-uppercase text-white font-size-h1 mb-3">Start Angular</h1>
    <div class="d-flex justify-content-center mb-4">
      <div class="line mt-2 me-3"></div>
      <div><i class="fa-sharp fa-solid fa-star fa-2xl text-white"></i></div>
      <div class="line mt-2 ms-3"></div>
    </div>
    <p class="text-white  fs-4 pb-5">Graphic Artist - Web Designer - Illustrator</p>

  </div>




</section>
